h3{
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    height: 200px;
    font-size:30px;
    background-image: url(../Travel-Icon-PNG-Clipart.png);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-size: contain; */
    background-size: 200px;


}
.lorem{
    border: 2px solid red;
    /* height: 50px; */
    display: block;
}